<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../assets/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('partials/nav.ejs'); %>
    <h1>Welcome to the best website on the planet</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quia sit illum, non numquam delectus molestiae atque, omnis beatae maiores modi dicta, ab 
        fugiat neque temporibus suscipit. Modi, excepturi vitae?</p>
</body>
</html>